.navbar-nav a i {
    color: black;
    padding: 6px;
    padding-left: 18px;
}

.jubmotron-top {
    height: 600px;
    background-image: url("img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
}

.new-releases-top {
    height: 600px;
    background-image: url("img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
}

.new-releases-bottom {
    background-color: #1f1f1f;
}

#ps-plus {
    background-color: #bebcbb;
}

#ps-plus .txt-blue {
    color: blue;
}

#ps-now {
    background-color: #161c3b;
}
